{% macro renderTimeData(data) %}

	{% if data %}
	    {{
	    	data.value
	    	~ ' '
	    	~ (
	    		constant('Symdrik\\Bundle\\QuantityBundle\\Entity\\TimeData::UNIT_TRANS_PREFIX')
	    		~ data.unit
	    	)|trans
	    }}
    {% endif %}

{% endmacro %}