{% block symdrik_quantity_data_form_widget %}
	
	{% set unitSelectOptions = {
		url: path('symdrik_quantity_unit_field', { 
			'qType': '__qType__'
		})
	} %}

    {{ form_widget(form.value) }}
    <div class="hide qty_params">
        {{ form_widget(form.unit, {
        	'attr': {
        		'data-page-component-module': 'symdrikquantity/js/app/components/quantity-data-unit-field-component',
        		'data-page-component-options': unitSelectOptions|json_encode
        	}
        }) }}
        {{ form_widget(form.quantityType, {
        	'attr': {'class': 'sym_quantity'}
        }) }}
        {{ form_rest(form) }}
    </div>
    {{ form_errors(form) }}
{% endblock %}